.container
  .row
    .span12
      - if @participations.any?
        %ul
          - @participations.each do |participation|
            = render participation
            
        %div
          = link_to t('game.join_new_game'), find_game_path, :method => :post, class: "btn primary"
          
      - else
        = render 'first_game'
