%li{ id:    dom_id(ownership.territory, :badge),
     data:  { ownership: json_for_badge(ownership) },
     class: classes_for_badge(ownership) }<
  = link_to ownership.units_count, ownership_deploy_path(ownership), method: 'post', remote: true
