%li{ id:    dom_id(ownership.territory, :badge),
     class: classes_for_badge(ownership),
     data:  { neighbour_ids: ownership.territory.neighbour_ids,
              units_count:   ownership.units_count,
              attack_path:   ownership_attack_path(@game, ownership) } }
  %span= ownership.units_count
