#map{ data: { ownerships: json_for_badges(@ownerships) } }
  = render 'map', territories: @territories

%p
  Vous êtes le joueur #{t(@participation.color)}.

%p
  Vous avez jusqu'au
  %strong.deployment_finish_at= l(@game.deployment_finish_at, format: :deployment)
  pour déployer vos
  %strong.units_count= @participation.units_count
  unités. Après cette date, le système déploiera aléatoirement vos unités sur
  vos territoires.
