#map
  = image_tag "map.png", usemap: "#territories", alt: "map"
  %map{ name: "territories" }
    - @territories.each do |territory|
      %area{ shape: "poly", coords: territory.path, href: "##{territory.id}", alt: "" }
      
#instructions
  = render "games/#{@game.state.downcase}"
