html, body {
  background: #fcfcfc;
}

.left {
  float: left;
}

.right {
  float: right;
}

body {
  padding-top: 60px;
}

p {
  text-align: justify;
}

#screenshots, #sign_up {
  margin-top: 40px;
}


.debug {
  .red {
    background: red;
  }
  
  .blue {
    background: blue;
  }
  
  .orange {
    background: orange;
  }
}
