#map {
  border   : 2px solid #000;
  margin   : 0;
  width    : 800px;
  height   : 600px;
  position : relative;

  map {
    position : absolute;

    area {
      outline : none;
    }
  }

  #ownerships {
    list-style: none;

    li {
      cursor      : pointer;
      position    : absolute;
      background  : url('/assets/badges.png') no-repeat;
      width       : 34px;
      height      : 34px;
      text-align  : center;
      line-height : 34px;
      font-size   : 12px;
      color       : #fff;
    }

    .blue {
      background-position: -8px -8px;
    }

    .green {
      background-position: -58px -8px;
    }

    .orange {
      background-position: -108px -8px;
    }

    .purple {
      background-position: -158px -8px;
    }

    .yellow {
      background-position: -208px -8px;
    }
  }
}
