#map {
  border   : 2px solid #000;
  margin   : 0 auto;
  width    : 800px;
  height   : 600px;
  position : relative;

  map {
    position : absolute;
    
    area {
      outline : none;
    }
  }
  
  .badges {
    list-style: none;
    
    li {
      cursor      : pointer;
      position    : absolute;
      text-align  : center;
      line-height : 34px;
      font-size   : 12px;

      a {
        color           : #fff;
        display         : block;
        text-decoration : none;
      }
    }
    
  }
}

#attack_box {
  width      : 60px;
  height     : 60px;
  background : url("/assets/spinner.png");
  position   : relative;
  
  .minus, .plus, span {
    z-index  : 99;
    position : absolute;
    cursor   : pointer;
    color    : #f2f2f2;
    top      : 20px;
    
    &:hover {
      text-decoration: none;
    }
  }
  
  .minus {
    left : 11px;
  }
  
  .plus {
    left : 42px;
  }
  
  span {
    z-index    : 50;
    width      : 60px;
    cursor     : default;
    text-align : center;
  }
}

