#map {
  border   : 2px solid #000;
  margin   : 0 auto;
  width    : 800px;
  height   : 600px;
  position : relative;

  map {
    position : absolute;
    
    area {
      outline : none;
    }
  }
  
  .credits {
    position   : absolute;
    bottom     : 0;
    left       : 4px;
    color      : rgb(60, 70, 100);
    font-style : italic;
  }
  
  .badges {
    list-style : none;
    
    li {
      cursor      : pointer;
      position    : absolute;
      text-align  : center;
      line-height : 34px;
      font-size   : 12px;

      a {
        color           : #fff;
        display         : block;
        text-decoration : none;
      }
    }
    
  }
}

#attack_box {
  width      : 60px;
  height     : 60px;
  background : url("/assets/spinner.png") center center no-repeat;
  position   : relative;
  
  .minus, .plus, span {
    height      : 60px;
    width       : 20px;
    text-align  : center;
    display     : block;
    z-index     : 99;
    position    : absolute;
    cursor      : pointer;
    color       : #f2f2f2;
    line-height : 60px;
    
    &:hover {
      text-decoration : none;
    }
  }
  
  .minus {
    text-align : right;
  }
  
  .plus {
    text-align : left;
    right      : 0;
  }
  
  span {
/*    background: brown;*/
    z-index    : 50;
    width      : 60px;
    cursor     : default;
    text-align : center;
  }
}

