%p
  %strong Conquest on Rails
  est un jeu de conquête par navigateur. Vous affronterez jusqu'à cinq adversaires au cours de batailles épiques dans lesquelles vous devrez faire preuve d'audace et d'intelligence pour espérer l'emporter.
  
%p
  Pour jouer, vous n'aurez besoin que d'une connexion à Internet et d'#{link_to("un navigateur récent")}.
  